@import "../color_variables/CSSVariable.scss";

.project-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0rem 1rem;
    align-items: center;
    justify-content: center;

    .project-page-introduction-title {
        padding: 1rem 0rem;
        font-size: 1.9rem;
    }

    .project-page-introduction-text {
        padding-bottom: 1rem;
        font-size: 0.9rem;
        text-align: center;
    }
}