@import "../../color_variables/CSSVariable.scss";

.item-main-flash-card-layout {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid rgba($color: #ffffff, $alpha: 0.5);
    border-radius: 1rem;
    padding: 1rem;
    margin: 0.5rem 0rem;

    .flash-main-card-title {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.5rem;
        padding: 0rem;
        border-bottom: 1px solid;
        margin-bottom: 1rem;
    }

    .flash-main-card-body {
        width: 100%;
        padding: 0rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}