@import "../../color_variables/CSSVariable.scss";

.item-main-flash-card-layout {
    width: 95%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid rgba($color: #ffffff, $alpha: 0.5);
    box-shadow: 0 0.5rem 0.5rem rgba(255, 255, 255, 0.05); // White shadow
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0rem;

    .flash-main-card-title {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.5rem;
        padding: 0rem;
        border-bottom: 1px solid;
        margin-bottom: 1rem;

        &:hover {
            transform: scale(1.005);
            cursor: pointer;
        }

        .flash-main-card-title-arrow {
            color: inherit;

        }

        .flash-main-card-title-text {
            color: inherit;
            padding: 0rem 0.5rem;
            text-align: center;
        }

    }

    .flash-main-card-body {
        width: 100%;
        padding: 0rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .flash-main-card-body-index {
        text-indent: 1rem;

        &:hover {
            cursor: pointer;
        }
    }


}